USE [master]
GO
/****** Object:  Database [8322DB]    Script Date: 8.07.2026 19:36:13 ******/
CREATE DATABASE [8322DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'8322DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\8322DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'8322DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\8322DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [8322DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [8322DB]
GO
/****** Object:  Table [dbo].[Birimler]    Script Date: 8.07.2026 19:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Birimler](
	[BirimID] [int] IDENTITY(1,1) NOT NULL,
	[BirimAD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Birimler] PRIMARY KEY CLUSTERED 
(
	[BirimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 8.07.2026 19:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAD] [nvarchar](50) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[KdvOran] [decimal](3, 2) NULL,
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 8.07.2026 19:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriAD] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Adres] [nvarchar](200) NOT NULL,
	[Telefon] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Musteriler] PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resimler]    Script Date: 8.07.2026 19:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resimler](
	[ResimID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NOT NULL,
	[ResimYolu] [nvarchar](500) NOT NULL,
	[ResimAciklamasi] [nvarchar](100) NULL,
 CONSTRAINT [PK_Resimler] PRIMARY KEY CLUSTERED 
(
	[ResimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Satinalmalar]    Script Date: 8.07.2026 19:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Satinalmalar](
	[SatinalmaID] [int] IDENTITY(1,1) NOT NULL,
	[SatinalmaTarihi] [date] NULL,
	[UrunID] [int] NULL,
	[AlinanMiktar] [decimal](18, 2) NULL,
	[AlimBirimFiyati] [money] NULL,
	[Tutar] [money] NULL,
	[Aciklama] [nvarchar](500) NULL,
 CONSTRAINT [PK_Satinalmalar] PRIMARY KEY CLUSTERED 
(
	[SatinalmaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SatisDetaylari]    Script Date: 8.07.2026 19:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatisDetaylari](
	[SatisDetayID] [int] IDENTITY(1,1) NOT NULL,
	[SatisID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
	[SatisBirimFiyati] [money] NOT NULL,
	[SatilanMiktar] [decimal](18, 2) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK_SatisDetaylari] PRIMARY KEY CLUSTERED 
(
	[SatisDetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Satislar]    Script Date: 8.07.2026 19:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Satislar](
	[SatisID] [int] IDENTITY(1,1) NOT NULL,
	[SatisTarihi] [smalldatetime] NULL,
	[MusteriID] [int] NULL,
	[Durumu] [nvarchar](15) NULL,
	[IslemTarihi] [smalldatetime] NULL,
	[TeslimTarihi] [smalldatetime] NULL,
 CONSTRAINT [PK_Satislar] PRIMARY KEY CLUSTERED 
(
	[SatisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sepetler]    Script Date: 8.07.2026 19:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sepetler](
	[SepetID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
	[SepetBirimFiyati] [money] NOT NULL,
	[SepetUrunMiktari] [decimal](18, 2) NOT NULL,
	[SepetTarihi] [smalldatetime] NULL,
 CONSTRAINT [PK_Sepetler] PRIMARY KEY CLUSTERED 
(
	[SepetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 8.07.2026 19:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAD] [nvarchar](50) NULL,
	[BirimMaliyet] [money] NULL,
	[BirimFiyat] [money] NULL,
	[KategoriID] [int] NULL,
	[BirimID] [int] NULL,
	[UrunAciklamasi] [nvarchar](max) NULL,
 CONSTRAINT [PK_Urunler] PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Birimler] ON 

INSERT [dbo].[Birimler] ([BirimID], [BirimAD]) VALUES (1, N'Adet')
INSERT [dbo].[Birimler] ([BirimID], [BirimAD]) VALUES (2, N'Kilo')
INSERT [dbo].[Birimler] ([BirimID], [BirimAD]) VALUES (3, N'Kutu')
SET IDENTITY_INSERT [dbo].[Birimler] OFF
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAD], [Aciklama], [KdvOran]) VALUES (1, N'Elektronik', N'Elektronik Ürünler', CAST(0.20 AS Decimal(3, 2)))
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAD], [Aciklama], [KdvOran]) VALUES (2, N'Beyaz Eşya', N'Beyaz Eşya Ürünleri', CAST(0.20 AS Decimal(3, 2)))
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAD], [Aciklama], [KdvOran]) VALUES (3, N'Tekstil', N'Tekstil Kumaş Deri Ürünleri', CAST(0.10 AS Decimal(3, 2)))
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
SET IDENTITY_INSERT [dbo].[Musteriler] ON 

INSERT [dbo].[Musteriler] ([MusteriID], [MusteriAD], [Email], [Adres], [Telefon]) VALUES (1, N'Ali Bey', N'ali@ali.com', N'Bakırköy', N'4555466654')
INSERT [dbo].[Musteriler] ([MusteriID], [MusteriAD], [Email], [Adres], [Telefon]) VALUES (2, N'Ayşe Hanım', N'ayse@ayse.com', N'Şirinevler', N'668768656')
INSERT [dbo].[Musteriler] ([MusteriID], [MusteriAD], [Email], [Adres], [Telefon]) VALUES (3, N'Aleyna Hanım', N'aleyna@xyz.com', N'Avcılar', N'343242342')
SET IDENTITY_INSERT [dbo].[Musteriler] OFF
SET IDENTITY_INSERT [dbo].[Resimler] ON 

INSERT [dbo].[Resimler] ([ResimID], [UrunID], [ResimYolu], [ResimAciklamasi]) VALUES (10, 1, N'samsung_monitor1.jpg', N'ön görünüm')
INSERT [dbo].[Resimler] ([ResimID], [UrunID], [ResimYolu], [ResimAciklamasi]) VALUES (15, 3, N'arcelik-583628-eb-630-lt-e-enerji-cift-kapili-no-frost-beyaz-buzdolabi_87569.jpg', N'ön görünüm')
INSERT [dbo].[Resimler] ([ResimID], [UrunID], [ResimYolu], [ResimAciklamasi]) VALUES (17, 2, N'dyson-148447-1-1_small.jpg', N'1')
SET IDENTITY_INSERT [dbo].[Resimler] OFF
SET IDENTITY_INSERT [dbo].[Urunler] ON 

INSERT [dbo].[Urunler] ([UrunID], [UrunAD], [BirimMaliyet], [BirimFiyat], [KategoriID], [BirimID], [UrunAciklamasi]) VALUES (1, N'Samsung 22 inç monitör', 4700.0000, 5700.0000, 1, 1, N'TV li monitör')
INSERT [dbo].[Urunler] ([UrunID], [UrunAD], [BirimMaliyet], [BirimFiyat], [KategoriID], [BirimID], [UrunAciklamasi]) VALUES (2, N'Dyson V15 Süpürge', 30000.0000, 40000.0000, 1, 1, NULL)
INSERT [dbo].[Urunler] ([UrunID], [UrunAD], [BirimMaliyet], [BirimFiyat], [KategoriID], [BirimID], [UrunAciklamasi]) VALUES (3, N'Buzdolabı', 18000.0000, 23000.0000, 2, 1, N'2 kapılı No-Frost')
SET IDENTITY_INSERT [dbo].[Urunler] OFF
ALTER TABLE [dbo].[Resimler]  WITH CHECK ADD  CONSTRAINT [FK_Resimler_Urunler] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Resimler] CHECK CONSTRAINT [FK_Resimler_Urunler]
GO
ALTER TABLE [dbo].[Satinalmalar]  WITH CHECK ADD  CONSTRAINT [FK_Satinalmalar_Urunler] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Satinalmalar] CHECK CONSTRAINT [FK_Satinalmalar_Urunler]
GO
ALTER TABLE [dbo].[SatisDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_SatisDetaylari_Satislar] FOREIGN KEY([SatisID])
REFERENCES [dbo].[Satislar] ([SatisID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SatisDetaylari] CHECK CONSTRAINT [FK_SatisDetaylari_Satislar]
GO
ALTER TABLE [dbo].[SatisDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_SatisDetaylari_Urunler] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SatisDetaylari] CHECK CONSTRAINT [FK_SatisDetaylari_Urunler]
GO
ALTER TABLE [dbo].[Satislar]  WITH CHECK ADD  CONSTRAINT [FK_Satislar_Musteriler] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusteriID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Satislar] CHECK CONSTRAINT [FK_Satislar_Musteriler]
GO
ALTER TABLE [dbo].[Sepetler]  WITH CHECK ADD  CONSTRAINT [FK_Sepetler_Musteriler] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusteriID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sepetler] CHECK CONSTRAINT [FK_Sepetler_Musteriler]
GO
ALTER TABLE [dbo].[Sepetler]  WITH CHECK ADD  CONSTRAINT [FK_Sepetler_Urunler] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sepetler] CHECK CONSTRAINT [FK_Sepetler_Urunler]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_Birimler] FOREIGN KEY([BirimID])
REFERENCES [dbo].[Birimler] ([BirimID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_Birimler]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_Kategoriler] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_Kategoriler]
GO
USE [master]
GO
